<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>Registro de Usuarios</title>
</head>

<body>
    <main class="container">
        <h2>Registro de Usuarios</h2>
        <div class="d-flex justify-content-end pb-2">
            <a href="/" class="btn btn-secondary">Listado</a>
        </div>
        <div class="d-flex justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 col-xxl-4">
                <div class="card">
                    <div class="card-body">
                        <form id="formulario-registro">
                            <div class="mb-3">
                                <label for="txt-usuario" class="form-label">Usuario</label>
                                <input type="text" class="form-control" id="txt-usuario" required>
                            </div>
                            <div class="mb-3">
                                <label for="txt-contrasena" class="form-label">Contraseña</label>
                                <input type="password" class="form-control" id="txt-contrasena" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Registrar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/jquery/jquery.min.js"></script>
    <script src="/public/js/registro.js"></script>
</body>

</html>